/* Walibu
   MIT licence */

* {
    font-family: Helvetica;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
tr {
    border: 5px white solid;
}
td {
    padding: 5px;
}
input {
    border-radius: 0;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
input[type="number"] {
    appearance: textfield;
    width: 3em;
    text-align: right;
}
input::-webkit-input-placeholder {
    opacity: 0.5;
    color: #89bc07;
}
input::-moz-placeholder {
    opacity: 0.5;
    color: #89bc07;
}

#fspeed_ms {
    color: #333;
}

#update-button {
    height: 2em;
    background-color: #89bc07;
    color: white;
    border-style: none;
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}
#update-button:hover {
    background-color: #00770d;
}

.row-time input {
    width: 1.6em;
}
.row-header, .row-time {
    padding: 1em;
}
.row-header {
    background-color: #039EEA;
    color: white;
}

.col-1, .col-2, .col-3, .col-4 {
    padding: 5px;
    white-space: nowrap;
    min-width: 60px;
}
.col-1 {
    padding-left: 10px;
}
.col-4 {
    padding-right: 0;
}
.col-5 {
    padding: 0;
}
.col-2, .col-3, .col-4 {
    text-align: right;
}

#linktrainpace, #linkback {
    background-color: #89bc07;
    text-decoration: none;
    padding: 5px;
    margin: 25px -5px 0 0;
    color: white;
}
#linktrainpace:hover, #linkback:hover {
    background-color: #00770d;
    color: white;
}
.back-forward-link {
    text-align: right;
}
.suggest span {
    padding-left: 5px;
    color: grey;
}
