/* Walibu
   MIT licence */

* {
    font-family: Helvetica;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
tr {
    border: 5px white solid;
}
td {
    padding: 5px;
}
input {
    border-radius: 0;
    padding: 5px;
    border: 1px solid grey
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
input[type="number"] {
    appearance: textfield;
    width: 3em;
    text-align: right;
}
input::-webkit-input-placeholder {
    opacity: 0.5;
    color: #7ba1c2;
}
input::-moz-placeholder {
    opacity: 0.5;
    color: #7ba1c2;
}

.row-time input {
    width: 1.6em;
}
.row-header, .row-time {
    padding: 1em;
}
.row-header {
    background-color: #2d5b85;
    color: white;
}

.col-1, .col-2, .col-3, .col-4 {
    padding: 5px 10px;
    white-space: nowrap;
}
.col-2, .col-3, .col-4 {
    text-align: right;
}

#linktrainpace, #linkback {
    background-color: #7ba1c2;
    text-decoration: none;
    padding: 5px;
    margin: 25px -5px 0 0;
    color: white;
}
#linktrainpace:hover, #linkback:hover {
    background-color: #2d5b85;
    color: white;
}
.back-forward-link {
    text-align: right;
}
.suggest span {
    padding-left: 5px;
    color: grey;
}
